# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Virtual Environment
env/
venv/
ENV/
.venv/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover

# Translations
*.mo

# Documentation
docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace